CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
main
chr_dump
main.exe
cputest
debug
debug.log
debug.exe
logcompare
debugger
*.cmake
Makefile
/.vscode
build/
roms/
Makefile
*.txt